@media (min-width: $mobile-width-only) {
  .country-item {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-black;
    opacity: 0.5;
    padding-bottom: 10px;
  }

  .country-item__link {
    color: $dark-black;
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .country-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-black;
    opacity: 0.5;
    padding-bottom: 10px;
  }

  .country-item__link {
    color: $dark-black;
    opacity: 0.5;
  }
}

@media (min-width: $desktop-width) {
  .country-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-black;
    opacity: 0.5;
    padding-bottom: 10px;
  }

  .country-item__link {
    color: $dark-black;
    opacity: 0.5;
  }
}
