@media (min-width: $mobile-width-only) {
  .footer {
    min-width: 295px;
    padding-left: 11px;
    padding-right: 14px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer .next-traveling__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $dark-black;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .footer__next-traveling {
    margin-bottom: 38px;
  }
}


@media (min-width: $tablet-width) {
  .footer {
    min-width: 726px;
    margin-left: 21px;
    margin-right: 21px;
    display: grid;
    grid-template-columns: 395px 331px;
    margin-bottom: 77px;
    padding-left: 0;
  }

  .footer .next-traveling__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $dark-black;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: 1169px;
    margin-left: 387px;
    margin-right: 363px;
    display: grid;
    grid-template-columns: 390px 390px 390px;
    margin-bottom: 77px;
    padding-left: 0;
  }
}
