@media (min-width: $mobile-width-only) {
  .price {
    min-width: 288px;
    margin-left: 15px;
    margin-right: 17px;
    margin-bottom: 105px;
  }
}

@media (min-width: $tablet-width) {
  .price {
    min-width: 693px;
    margin-left: 37px;
    margin-right: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 94px;
  }
}

@media (min-width: $desktop-width) {
  .price {
    min-width: 1170px;
    margin-left: 375px;
    margin-right: 375px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 107px;
  }
}
