@media (min-width: $mobile-width-only) {
  .сountry-selection {
    min-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
  }

  .сountry-selection__list {
    padding: 0;
    width: 899px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .сountry-selection__list .list-сountry-selection__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $basic-black;
    opacity: 0.3;
  }

  .сountry-selection__list::before {
    content: "";
    position: absolute;
    width: 899px;
    height: 2px;
    background-color: $basic-black;
    left: 0;
    top: 36px;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .сountry-selection {
    min-width: 704px;
    margin-left: 37px;
    margin-right: 27px;
    margin-bottom: 49px;
  }

  .сountry-selection__list {
    padding: 0;
    width: 899px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .сountry-selection__list .list-сountry-selection__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $basic-black;
    opacity: 0.3;
  }

  .сountry-selection__list::before {
    content: "";
    position: absolute;
    width: 899px;
    height: 2px;
    background-color: $basic-black;
    left: 0;
    top: 36px;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .сountry-selection {
    min-width: 1156px;
    margin-left: 375px;
    margin-right: 389px;
    margin-bottom: 102px;
  }

  .сountry-selection__list {
    padding: 0;
    width: 899px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .сountry-selection__list .list-сountry-selection__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $basic-black;
    opacity: 0.3;
  }

  .сountry-selection__list::before {
    content: "";
    position: absolute;
    width: 899px;
    height: 2px;
    background-color: $basic-black;
    left: 0;
    top: 36px;
    opacity: 0.3;
  }
}
