$montserrat: "Montserrat", arial, sans-serif;
$basic-black: #2c2e3f;
$dark-black: #141517;
$orange-basik: #fe7865;
$light-gray: #dadada;
$white-basik:  #ffffff;
$border-gray: rgba(44, 46, 63, 0.3);
$black-dark:  #000000;
$box-shadow: rgba(41, 54, 66, 0.1);
$border-color: #d7d9df;


$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 320px;
